<div class="article-page__main-block main-block">
    <div class="main-block__container">
      <div class="main-image__text">
        <span>{{ "mainPage.mainInfo" | translate }}</span>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text1" | translate }}
        </span>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text2" | translate }}
        </span>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text3" | translate }}
        </span>
      </div>
  
      <div class="main-block__images-block">
        <div class="image block">
          <div class="image__item photo-1"></div>
        </div>
        <div class="image block">
          <div class="image__item photo-2"></div>
        </div>
        <div class="image block">
          <div class="image__item photo-3"></div>
        </div>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text4" | translate }}
        </span>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text5" | translate }}
        </span>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text6" | translate }}
        </span>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text7" | translate }}
        </span>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text8" | translate }}
        </span>
      </div>
  
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "mainArticle.text9" | translate }}
        </span>
      </div>
  
      <div class="additional-info">
        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "mainArticle.text10" | translate }}
          </span>
        </div>
  
        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "mainArticle.text11" | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
  