<div class="article-page__main-block main-block">
  <div class="main-block__container">
    <div class="main-image__text">
      <span>{{ "articleOne.title" | translate }}</span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text1" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text2" | translate }}
      </span>
    </div>

    <div class="photo-text">
      <div class="photo-text__text">
        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "articleOne.info.text3" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "articleOne.info.text4" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "articleOne.info.text5" | translate }}
          </span>
        </div>
      </div>

      <div class="image block">
        <div class="image__item photo-2"></div>
      </div>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text6" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text7" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text8" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text9" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text10" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text11" | translate }}
      </span>
    </div>

    <div class="photo-text flex-row-reverse">
      <div class="photo-text__text">
        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "articleOne.info.text12" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "articleOne.info.text13" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "articleOne.info.text14" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "articleOne.info.text15" | translate }}
          </span>
        </div>
      </div>

      <div class="image block" style="height: 316px">
        <div class="image__item photo-1"></div>
      </div>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text16" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text17" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text18" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text19" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text20" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span
        class="text-block__text"
        [innerHTML]="'articleOne.info.text21' | translate"
      >
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text22" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "articleOne.info.text23" | translate }}
      </span>
    </div>

    <div class="additional-info">
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "articleOne.info.text24" | translate }}
        </span>
      </div>

      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "articleOne.info.text25" | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
