<div class="news__main-block main-block">
  <div class="main-block__container">
    <div class="main-image-block__item block">
      <div class="main-image__text">
        <span>{{ "freeTime.title" | translate }}</span>
      </div>
    </div>

    <div class="images-block">
      <div class="images-block__row">
        <div class="images-block__item block">
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <iframe src="https://www.youtube.com/embed/UXvxrq26ntU"> </iframe>
            </div>
            <div class="images-block-item-image__text">
              <span> {{ "freeTimePage.videoOne" | translate }}</span>
            </div>
          </div>
        </div>
        <div class="images-block__item block">
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <iframe src="https://www.youtube.com/embed/rNckSr8kSRg"> </iframe>
            </div>
            <div class="images-block-item-image__text">
              <span>{{ "freeTimePage.videoTwo" | translate }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="images-block__row">
        <div class="images-block__item block">
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <iframe src="https://www.youtube.com/embed/peH9M1Hhkx8"> </iframe>
            </div>
            <div class="images-block-item-image__text">
              <span>{{ "freeTimePage.videoThree" | translate }}</span>
            </div>
          </div>
        </div>
        <div class="images-block__item block">
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <iframe src="https://www.youtube.com/embed/3UivbtsEAoE"> </iframe>
            </div>
            <div class="images-block-item-image__text">
              <span>{{ "freeTimePage.videoFour" | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
