<div class="article-page__main-block main-block">
  <div class="main-block__container">
    <div class="main-image__text">
      <span>{{ "socialAdvert.title" | translate }}</span>
    </div>

    <div class="image-text">
      <div class="image block">
        <div class="image__item photo-1"></div>
      </div>

      <div class="image-text__text">
        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "socialAdvert.info.text1" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "socialAdvert.info.text2" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "socialAdvert.info.text3" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "socialAdvert.info.text4" | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "socialAdvert.info.text5" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "socialAdvert.info.text6" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "socialAdvert.info.text7" | translate }}
      </span>
    </div>

    <div class="main-block__images-block">
      <div class="image block">
        <div class="image__item photo-2"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-3"></div>
      </div>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "socialAdvert.info.text8" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "socialAdvert.info.text9" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "socialAdvert.info.text10" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "socialAdvert.info.text11" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "socialAdvert.info.text12" | translate }}
      </span>
    </div>

    <div class="additional-info">
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "socialAdvert.info.text14" | translate }}
        </span>
      </div>

      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "socialAdvert.info.text15" | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
