<div class="news__main-block main-block">
  <div class="main-block__container">
    <div class="main-image-block__item block">
      <div class="main-image__text">
        <span>{{ "dayPhotos.title" | translate }}</span>
      </div>
    </div>

    <div class="images-block">
      <div class="images-block__row">
        <div class="images-block__item block">
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <div class="images-block-item-image__item photo-1"></div>
            </div>
          </div>
        </div>
        <div class="images-block__item block">
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <div class="images-block-item-image__item photo-2"></div>
            </div>
          </div>
        </div>
        <div class="images-block__item block">
          <div class="images-block-vertical-item__container">
            <div class="images-block-vertical-item-image">
              <div class="images-block-item-image__item photo-3"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="images-block__row">
        <div class="images-block__item block">
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <div class="images-block-item-image__item photo-6"></div>
            </div>
          </div>
        </div>
        <div class="images-block__item block">
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <div class="images-block-item-image__item photo-5"></div>
            </div>
          </div>
        </div>
        <div class="images-block__item block">
          <div class="images-block-vertical-item__container">
            <div class="images-block-vertical-item-image">
              <div class="images-block-item-image__item photo-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
