<div class="about-us__main-block main-block">
  <div class="main-block__container">
    <div class="title__item block">
      <div class="title__text">
        <span>{{ "aboutUs.mainText" | translate }}</span>
      </div>
    </div>

    <div class="main-info__block">
      <!-- <div class="main-info__image block">
          <div class="image__item"></div>
        </div> -->
      <div class="main-info__text-block">
        <div class="text">
          <span>{{ "aboutUs.mainInfo.info1" | translate }}</span>
        </div>
        <div class="text">
          <span>{{ "aboutUs.mainInfo.info2" | translate }}</span>
        </div>
        <div class="text">
          <span>{{ "aboutUs.mainInfo.info3" | translate }}</span>
        </div>
        <div class="text">
          <span>{{ "aboutUs.mainInfo.info4" | translate }}</span>
        </div>
        <div class="text">
          <span>{{ "aboutUs.mainInfo.info5" | translate }}</span>
        </div>
        <div class="text">
          <span>{{ "aboutUs.mainInfo.info6" | translate }}</span>
        </div>
        <div class="text">
          <span>{{ "aboutUs.mainInfo.info7" | translate }}</span>
        </div>

        <div class="text">
          <span>{{ "aboutUs.mainInfo.info8" | translate }}</span>
        </div>

        <div class="text">
          <span>{{ "aboutUs.mainInfo.info9" | translate }}</span>
        </div>

        <div class="text">
          <span>{{ "aboutUs.mainInfo.info10" | translate }}</span>
        </div>

        <div class="text">
          <span>{{ "aboutUs.mainInfo.info11" | translate }}</span>
        </div>

        <div class="text">
          <span>{{ "aboutUs.mainInfo.info12" | translate }}</span>
        </div>

        <div class="text">
          <span>
            {{ "aboutUs.mainInfo.info13" | translate }}
          </span>
        </div>

        <div class="text">
          <span>
            {{ "aboutUs.mainInfo.info14" | translate }}
          </span>
        </div>

        <div class="text">
          <span>{{ "aboutUs.mainInfo.info15" | translate }}</span>
        </div>

        <div class="text">
          <span>
            {{ "aboutUs.mainInfo.info16" | translate }}
          </span>
        </div>

        <div class="text">
          <span>
            {{ "aboutUs.mainInfo.info17" | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="map-info__block">
      <div class="map-block__text-block">
        <div class="text-block__container">
          <div class="text-block__item">
            <div class="simple-text">
              <span>{{
                "aboutUs.credentials.chiefEditor.text" | translate
              }}</span>
            </div>
            <div class="bold-text">
              <span>{{
                "aboutUs.credentials.chiefEditor.info" | translate
              }}</span>
            </div>
          </div>

          <div class="text-block__item">
            <div class="simple-text">
              <span>{{
                "aboutUs.credentials.producingEditors.text" | translate
              }}</span>
            </div>
            <div class="bold-text">
              <span>{{
                "aboutUs.credentials.producingEditors.info.name1" | translate
              }}</span>
            </div>
            <div class="bold-text">
              <span>{{
                "aboutUs.credentials.producingEditors.info.name2" | translate
              }}</span>
            </div>
            <div class="bold-text">
              <span>{{
                "aboutUs.credentials.producingEditors.info.name3" | translate
              }}</span>
            </div>
          </div>

          <div class="text-block__item">
            <div class="simple-text">
              <span>{{ "aboutUs.credentials.email.text" | translate }}</span>
            </div>
            <div class="bold-text">
              <span>{{ "aboutUs.credentials.email.info" | translate }}</span>
            </div>
          </div>

          <div class="text-block__item">
            <div class="simple-text">
              <span>{{
                "aboutUs.credentials.phoneNumber.text" | translate
              }}</span>
            </div>
            <div class="bold-text">
              <span>{{
                "aboutUs.credentials.phoneNumber.info" | translate
              }}</span>
            </div>
          </div>

          <div class="text-block__item">
            <div class="simple-text">
              <span>{{ "aboutUs.credentials.address.text" | translate }}</span>
            </div>
            <div class="bold-text">
              <span>{{ "aboutUs.credentials.address.info" | translate }}</span>
            </div>
          </div>

          <div class="text-block__item">
            <div class="simple-text">
              <span>{{
                "aboutUs.credentials.questions.text" | translate
              }}</span>
            </div>
            <div class="bold-text">
              <span>{{
                "aboutUs.credentials.questions.info" | translate
              }}</span>
            </div>
          </div>

          <div class="text-block__additional-info">
            <div class="simple-text">
              <span>{{
                "aboutUs.credentials.additionalInfo" | translate
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="map-block__map block">
        <ya-map [center]="[57.819274, 28.33246]" [zoom]="14">
          <ya-placemark [geometry]="[57.819274, 28.33246]"></ya-placemark>
        </ya-map>
      </div>
    </div>
  </div>
</div>

<!-- <ya-map [center]="[57.819274, 28.33246]" [zoom]="14">
      <ya-placemark [geometry]="[57.819274, 28.33246]"></ya-placemark>
    </ya-map> -->
