<div class="article-page__main-block main-block">
  <div class="main-block__container">
    <div class="main-image__text">
      <span>{{ "educationArticle.title" | translate }}</span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text1" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="subtitle">
        {{ "educationArticle.info.text2" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text3" | translate }}
      </span>
    </div>

    <div class="image full-image">
      <div class="image__item photo-1"></div>
    </div>

    <!-- <div class="main-block__images-block">
          <div class="image block">
            <div class="image__item photo-1"></div>
          </div>
          <div class="image block">
            <div class="image__item photo-2"></div>
          </div>
          <div class="image block">
            <div class="image__item photo-3"></div>
          </div>
        </div> -->

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text4" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text5" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="subtitle">
        {{ "educationArticle.info.text6" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text7" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text8" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text9" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text10" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text11" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text12" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="subtitle">
        {{ "educationArticle.info.text13" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text14" | translate }}
      </span>
    </div>

    <div class="main-block__images-block">
      <div class="image block">
        <div class="image__item photo-3"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-4"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-5"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-6"></div>
      </div>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text15" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text16" | translate }}
      </span>
    </div>

    <div class="photo-text">
      <div class="image full-image-two">
        <div class="image__item photo-2"></div>
      </div>

      <div class="photo-text__text">
        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "educationArticle.info.text17" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "educationArticle.info.text18" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "educationArticle.info.text19" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "educationArticle.info.text20" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="subtitle">
            {{ "educationArticle.info.text21" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "educationArticle.info.text22" | translate }}
          </span>
        </div>

        <div class="main-block__text-block">
          <span class="text-block__text">
            {{ "educationArticle.info.text23" | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text24" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text25" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "educationArticle.info.text26" | translate }}
      </span>
    </div>

    <div class="additional-info">
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "educationArticle.info.text27" | translate }}
        </span>
      </div>

      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "educationArticle.info.text28" | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
