<div class="article-page__main-block main-block">
  <div class="main-block__container">
    <div class="main-image__text">
      <span>{{ "princessChildren.title" | translate }}</span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "princessChildren.info.text1" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "princessChildren.info.text2" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "princessChildren.info.text3" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "princessChildren.info.text4" | translate }}
      </span>
    </div>

    <div class="main-block__images-block">
      <div class="image block">
        <div class="image__item photo-1"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-2"></div>
      </div>
    </div>

    <div class="main-block__images-block">
      <div class="image block">
        <div class="image__item photo-3"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-4"></div>
      </div>
    </div>

    <div class="main-block__images-block">
      <div class="image block">
        <div class="image__item photo-5"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-6"></div>
      </div>
    </div>

    <div class="additional-info">
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "princessChildren.info.text5" | translate }}
        </span>
      </div>

      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "princessChildren.info.text6" | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
