<div class="article-page__main-block main-block">
  <div class="main-block__container">
    <div class="main-image__text">
      <span>{{ "howToCreateMediaContent.title" | translate }}</span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "howToCreateMediaContent.info.text1" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span
        class="text-block__text"
        [innerHTML]="'howToCreateMediaContent.info.text2' | translate"
      >
      </span>
    </div>

    <div class="main-block__text-block">
      <span
        class="text-block__text"
        [innerHTML]="'howToCreateMediaContent.info.text3' | translate"
      >
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "howToCreateMediaContent.info.text4" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span
        class="text-block__text"
        [innerHTML]="'howToCreateMediaContent.info.text5' | translate"
      >
      </span>
    </div>

    <div class="main-block__text-block">
      <span
        class="text-block__text"
        [innerHTML]="'howToCreateMediaContent.info.text6' | translate"
      >
      </span>
    </div>

    <div class="main-block__images-block">
      <div class="image block">
        <div class="image__item photo-1"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-2"></div>
      </div>
      <div class="image block">
        <div class="image__item photo-3"></div>
      </div>
    </div>

    <div class="main-block__text-block">
      <span
        class="text-block__text"
        [innerHTML]="'howToCreateMediaContent.info.text7' | translate"
      >
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "howToCreateMediaContent.info.text8" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span
        class="text-block__text"
        [innerHTML]="'howToCreateMediaContent.info.text9' | translate"
      >
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "howToCreateMediaContent.info.text10" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "howToCreateMediaContent.info.text11" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "howToCreateMediaContent.info.text12" | translate }}
      </span>
    </div>

    <div class="main-block__text-block">
      <span class="text-block__text">
        {{ "howToCreateMediaContent.info.text13" | translate }}
      </span>
    </div>

    <div class="additional-info">
      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "howToCreateMediaContent.info.text14" | translate }}
        </span>
      </div>

      <div class="main-block__text-block">
        <span class="text-block__text">
          {{ "howToCreateMediaContent.info.text15" | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
