<div class="news__main-block main-block">
  <div class="main-block__container">
    <div class="main-image-block__item block">
      <div class="main-image__text">
        <span>{{ "archive.title" | translate }}</span>
      </div>
    </div>

    <div class="images-block">
      <div class="images-block__row">
        <div
          class="images-block__item block cursor-pointer"
          (click)="redirectToPage('/gingerbreads-article')"
        >
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <div class="images-block-item-image__item photo-1"></div>
            </div>
            <div class="images-block-item-image__text">
              <span>{{ "mainPage.shortInfoTwo" | translate }}</span>
            </div>
          </div>
        </div>
        <div
          class="images-block__item block cursor-pointer"
          (click)="redirectToPage('/short-info-first-article')"
        >
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <div class="images-block-item-image__item photo-2"></div>
            </div>
            <div class="images-block-item-image__text">
              <span>{{ "mainPage.shortInfoFirst" | translate }}</span>
            </div>
          </div>
        </div>
        <div class="images-block__item block">
          <div
            class="images-block-vertical-item__container cursor-pointer"
            (click)="redirectToPage('/education-article')"
          >
            <div class="images-block-vertica-item-image__text">
              <div class="title">
                <span> {{ "mainPage.shortInfoOne" | translate }}</span>
              </div>
              <div class="info">
                <span>{{ "educationArticle.info.text1" | translate }}</span>
              </div>
            </div>

            <div class="images-block-vertical-item-image">
              <div class="images-block-item-image__item photo-3"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="images-block__row">
        <div
          class="images-block__item block cursor-pointer"
          (click)="redirectToPage('/car-industry')"
        >
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <div class="images-block-item-image__item photo-6"></div>
            </div>
            <div class="images-block-item-image__text">
              <span>{{ "news.fourthBlock" | translate }}</span>
            </div>
          </div>
        </div>
        <div
          class="images-block__item block cursor-pointer"
          (click)="redirectToPage('/princess-children')"
        >
          <div class="images-block-item__container">
            <div class="images-block-item-image">
              <div class="images-block-item-image__item photo-5"></div>
            </div>
            <div class="images-block-item-image__text">
              <span>{{ "news.fifthBlock" | translate }}</span>
            </div>
          </div>
        </div>
        <div
          class="images-block__item block cursor-pointer"
          (click)="redirectToPage('/main-article')"
        >
          <div class="images-block-vertical-item__container">
            <div class="images-block-vertica-item-image__text">
              <div class="title">
                <span> {{ "mainPage.mainInfo" | translate }}</span>
              </div>
              <div class="info">
                <span> {{ "mainArticle.text1" | translate }}</span>
              </div>
            </div>

            <div class="images-block-vertical-item-image">
              <div class="images-block-item-image__item photo-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
